/*Dimensions work fine in GTK3, but not 4. Hacky workaround*/
combobox button:active box,
combobox button:checked box {
    margin: 0px;
}

/* Remove CSD styling since this thing is actually a window... */
combobox > popover {
    margin: -3px;
}

/* And now style the window/border */
combobox > popover.menu.background > contents > scrolledwindow > viewport {
    background-color: @base_color;
    color: @text_color;
    border: 1px solid @bg_color;
    border-style: solid;
    border-color: @borders;
    border-radius: 0;
}
